name: Build
on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: [ master, next ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ['debian:12', 'debian:13', 'ubuntu:22.04', 'ubuntu:24.04']
    container: ${{ matrix.image }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - name: Install build essentials
      run: |
        apt-get -y update
        DEBIAN_FRONTEND=noninteractive apt-get -y install build-essential git clang cmake

    - name: Build all disabled
      run: |
        rm -rf build;cmake -B build . -DLINUXDVB=OFF  && (cd build && make)

    - name: Install additional build dependencies
      run: |
        DEBIAN_FRONTEND=noninteractive apt-get -y install cmake libdvbcsa-dev libssl-dev zlib1g-dev libxml2-dev liblzma-dev
        git clone https://github.com/vdr-projects/libnetceiver/
        cd libnetceiver/ && make install
        cd ..

    - name: Build all enabled
      run: |
       rm -rf build;cmake -B build .  && (cd build && make)

    - name: Build clang
      run: |
       rm -rf build;CXX=/usr/bin/clang++ cmake -B build && (cd build && make)

    - name: Build without libssl-dev
      run: |
       apt-get -y remove --purge libssl-dev
       rm -rf build;cmake -B build .  && (cd build && make)
