name: Coverity Scan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install build tools and dependencies
      run: DEBIAN_FRONTEND=noninteractive sudo apt-get -y install build-essential libdvbcsa-dev libssl-dev zlib1g-dev libxml2-dev
    - name: configure
      run: ./configure

    - uses: Jalle19/coverity-scan-action@error-handling
      with:
        project: minisatip2
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        email: reply+AB6SAEPNLEJSCE2WJ37GDNF6TC2NXEVBNHHDIEHQTY@reply.github.com
