name: Coverity Scan

on:
  push:
    branches: [ master ]
  # We can't run on pull request because the secret token is not available there

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install build tools and dependencies
      run: DEBIAN_FRONTEND=noninteractive sudo apt-get -y install build-essential libdvbcsa-dev libssl-dev zlib1g-dev libxml2-dev cmake
    - name: cmake
      run: |
        cmake -B build .
    - uses: vapier/coverity-scan-action@v1
      with:
        project: minisatip2
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        email: reply+AB6SAEPNLEJSCE2WJ37GDNF6TC2NXEVBNHHDIEHQTY@reply.github.com
        command: make -C build
